<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <center><h1>employee registration</h1></center>
        <label>eid</label><br>
        <input text="number" name="eid" required/><br>
        <label>ename</label><br>
        <input text="ename" name="ename" required/><br>
        <label>erole</label><br>
        <input text="text" name="erole" required/><br>
        <label>dept</label><br>
        <input text="text" name="dept" required/><br>
        <label>mobile</label><br>
        <input text="number" name="mobile" required/><br>
        <label>salary</label><br>
        <input text="number" name="salary" required/><br>
        <button>submit</button>
        
</body>
</html>